<html>

<head>

  <title>Measuring Polyphony</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
  <link href="favicon.ico" rel="icon" type="image/x-icon" />
  <!-- Custom fonts for this template -->


  <link href="https://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <!-- A stylesheet for the help overlay -->
  <!--/////////////-->
  <!-- MIDI Player -->
  <!--/////////////-->
  <!-- Bootstrap core CSS -->


  <!-- Custom fonts for this template -->
  <link href="{{ site.baseurl }}vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ site.baseurl }}css/midiplayer.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}css/diva.min.css" />

  <link href="{{ site.baseurl }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}css/transcriptions.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://www.verovio.org/javascript/develop/verovio-toolkit.js" type="text/javascript"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>
  <script src="{{ site.baseurl }}js/basic-events.js" type="text/javascript"></script>
  <script type="text/javascript" language="javascript" src="{{ site.baseurl }}js/midi-player/wildwebmidi.js"></script>
  <script type="text/javascript" language="javascript" src="{{ site.baseurl }}js/midi-player/midiplayer.js"></script>
  <script src="{{ site.baseurl }}js/diva.min.js" type="text/javascript"></script>
</head>

<body id="page-top">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="col-lg-1" style="text-align: right;">
    <img src="thumbnail.gif" id="thumbnail">
  </div>
  <div class="col-lg-7 hidden-md">
    <div class="row">
          <a class="navbar-brand js-scroll-trigger" href=" {{ site.baseurl }} ">Measuring Polyphony</a>
        </div>
          <div class="row" id="navDescription">
            Digital encodings of late medieval music
          </div>
  </div>
  <div class="col-lg-3">
        <div class="collapse navbar-collapse" id="navbarResponsive" style="text-align=left;">
            <ul class="navbar-nav ml-auto">
              <li><a class="nav-link js-scroll-trigger" id="browse" style= "" href="{{ site.baseurl }}transcriptions.html">Browse</a>
            </li>
            <li></li>
          <li>  <a class="nav-link js-scroll-trigger" id="about" href="#about">About</a></li>
        </ul>
      </div>
    </div>
  </nav>


        <header class="transhead" id="displayHead">
<div class="layer">
        <div class="row" id="transcriptionHeader">
          <div class="col text-left" id="transcriptionHeaderColumn">

            <h1  id="title" ></h1>
            <p id="composer" ></p><br>
          </div>

        </div>

          <div   class="container-fluid" id="details">
        <div class="row" id="midiControlRow">
          <div class="col-lg-6 ">

        <div id="player"> </div>

        </div>
<div class="col-lg-6 text-right">
  <input id="flipDisplay" type="button" value="Switch score to modern notation" onclick="loadMei();"/>
  <button type="button" id="navigateButton" class="btn btn-default btn-lg" onclick="flipPageBackward();"> <span class="glyphicon glyphicon-arrow-left"></span></button>
<button type="button" id="navigateButton" class="btn btn-default btn-lg" onclick="flipPageForward();" ><span class="glyphicon glyphicon-arrow-right"></span></button>
  <button type="button" id = "setFullscreen" class="btn btn-default btn-lg" onclick="setFullscreen();"> <span class="glyphicon glyphicon-resize-full"></span></button>
        </div>





            <!--  <p>Previous editions</p>
              <p>Downloads</p>
              <p class="intro-text" id="iiif"></p> -->

</div>

        <div class="row" id = "svg-row">
          <div class="col text-center">
          <div id="svg_output" >
            </a>
          </div>
        </div>
      </div>
<hr id="detail-splitter">
        <div class="row" id="details-row">
            <div class="col-lg-1 text-left" ></div>
          <div id = "diva-div" class="col-lg-2 text-left">
            <div id="diva-wrapper"></div>
            <div id="graybox"></div>
            <div id="full-manuscript"></div>
          </div>
          <div class="col-lg-4 text-left" id="source-column">
            <p><b>Source</b></p>
            <p id="primarysource"></p>
            <p id="diammlink"></p>
              <p id="ext-images"></p>
            <p id="concsources"></p><br>
            <p id="prevedition"></p><br>


          </div>

          <div class="col-lg-4 text-left">
            <p><b>Downloads</b></p>

              <p id="mei"></p><br>
              <p id="mens"></p><br>
              <p id="pdf"></p>

            <!-- Button trigger modal -->

          </div>
        </div>
      </div>

    </div>
    </div>

</header>

    <script type="text/javascript">
      var qs = parent.document.URL.substring(parent.document.URL.indexOf('?') + 1, parent.document.URL.length);
      var manifest = {{ site.data.manifest | jsonify}};
      /* Load the file using HTTP GET */
      $.get(qs, function(dataType) {
        //  alert( "Data Loaded: " + dataType );
        $meiarray = qs.split("/")
        for (i = 0; i < $meiarray.length; i++) {
          if (i == ($meiarray.length - 1)) {
            $meiarray[i] = $meiarray[i].replace("_MENSURAL", "");
          } else if ($meiarray[i] == "mensural") {
            $meiarray[i] = "mei";
          }
          style = "height:10px !important;"
        }
        $mei = $meiarray.join("/");
        xmlDoc = $.parseXML(dataType),
          $xml = $(xmlDoc),
          $title = $xml.find("title").first();
        $composer = $xml.find("composer").first();
        $primesource = $xml.find("identifier").first();
        $concsources = $xml.find("annot");
        $link = $xml.find("item");
        $parts = $xml.find("incipText");
        $needle = $link[0].attributes[2].textContent.split(",")[0];
        $quadruplum = "";
        $contratenor = "";
        $triplum = "";
        $motetus = "";
        $tenor = "";
        $pagelink = ""
        for (var i = 0; i < manifest.sequences[0].canvases.length; i++) {
          // look for the entry with a matching `code` value
          if (manifest.sequences[0].canvases[i].label == $needle) {
            $pagelink = manifest.sequences[0].canvases[i].images[0].on;
            // we found it
            // obj[i].name is the matched result
          }
        }
        if ($pagelink ==""){
          pagenum=1;
        } else {
        pagenum = $pagelink.split("/canvas/f")[1];
      }

        pagenum=pagenum-1;
        if ($parts != null) {

          for (i = 0; i < $parts.length; i++) {
            if ($parts[i].attributes[0].textContent == "triplum") {
              $triplum = $parts[i].textContent + "/";
            } else if ($parts[i].attributes[0].textContent == "motetus") {
              $motetus = $parts[i].textContent;
            } else if ($parts[i].attributes[0].textContent == "tenor") {
              $tenor = "/" + $parts[i].textContent;
            } else if ($parts[i].attributes[0].textContent == "contratenor") {
              $contratenor = "/" + $parts[i].textContent;
            } else if ($parts[i].attributes[0].textContent == "quadruplum") {
              $quadruplum = $parts[i].textContent + "/";
            }
          }
        }
        $("#title").html($triplum + $motetus + $tenor + $contratenor);
        $("#composer").html($composer.text());
        $("#primarysource").html($primesource.text() + ", fol(s)." + $link[0].attributes[2].textContent);
        $("#diammlink").html("<a href=\"" + $link[3].attributes[1].textContent + "\n\">Click this link for more information on this transcription (DIAMM)</a>");
        $("#mens").html("<a href=\"" + qs + "\" download>MENSURAL</a>");
        $("#mei").html("<a href=\"" + $mei + "\" download>MEI</a>");
        $("#pdf").html("<a href=\"" + $mei + "\" download>PDF</a>");
        if ($pagelink == "") {
  //$("#graybox").html("  <img src=\"img/graybox.jpg\" alt=\"Mountain View\" style=\"padding-right:15px; filter:\">");
          $("#full-manuscript").html("<button class=\"btn\" id=\"no-image-button\" onclick=\"window.open('http://bvmm.irht.cnrs.fr/consult/consult.php?reproductionId=8028');return false;\" style=\"\">No IIIF images available. <br>Click here for external images.</a>");
                  var diva = document.getElementById("diva-wrapper");
                  element.outerHTML = "";
                  delete diva;


        }else {
          $("#full-manuscript").html("<button class=\"btn\" id=\"image-button\" onclick=\"window.open('{{ site.baseurl }}iiif.html?" + pagenum +"', 'newwindow','width=700,height=1000');return false;\" style=\"\">IIIF Images Available</a>");
      }
//http://gallica.bnf.fr/iiif/ark:/12148/btv1b8454675g/manifest.json

manifest = "https://ekoshelev.github.io/mpol_manifest/manifest.json";

          loadDiva(manifest, pagenum);

        if ($concsources[2] !== ("")) {
          $("#concsources").html("<p><b>Concordant source(s)</b><p>" + $concsources[2].textContent);
        }



        //

      }, 'text');


      function loadDiva(manifest, pagenum) {
        $('#diva-wrapper').diva({
          enableAutoHeight: false,
          fixedHeightGrid: false,
          iipServerURL: "https://diva.simssa.ca/fcgi-bin/iipsrv.fcgi",
          objectData: "https://ekoshelev.github.io/mpol_manifest/manifest.json",
          enableCanvas: false,
          enableDownload: false,
          goDirectlyTo: pagenum, //INSERT PAGE HERE
          pagesPerRow: 1,
          maxPagesPerRow: 1,
          gridView: false,
          enableToolbar: false,
          zoomLevel: 0,
          enableAutoTitle: false,
          viewportMargin: 0,
          fixedPadding: 0,
          adaptivePadding: 0,
          verticalMiddleOfViewport: true
        });

        var diva = $('#diva-wrapper').data('diva');
        diva.disableScrollable();

        document.getElementById("1-diva-outer").style.height="238px";
document.getElementById("1-diva-inner").style.height="238px";
document.getElementById("1-diva-outer").style.width="165px";
document.getElementById("1-diva-inner").style.width="165px !important";
document.getElementById("1-diva-inner").style.margin="0px";

      }
      var something = document.getElementById('diva-wrapper');

      something.style.cursor = 'pointer';
      something.onclick = function() {
        window.open('{{ site.baseurl }}iiif.html?'+pagenum, 'newwindow','width=700,height=1000');return false;
          // do something...
      };
    </script>
    <script type="text/javascript">
      var vrvToolkit = new verovio.toolkit();
      var page = 1;
      var zoom = 40;

      ////////////////////////////////////////////////
      /* A variable for storing the highlighted ids */
      ////////////////////////////////////////////////
      var ids = [];
      var isPlaying = false;

      function setOptions() {
        pageHeight = $(document).height() * 30 / zoom;
        pageWidth = $(document).width() * 80 / zoom;
        border = 20;
        options = {
          inputFormat: 'mei',
          pageHeight: pageHeight,
          pageWidth: pageWidth,
          border: border,
          scale: zoom,
          ignoreLayout: 1
        };
        vrvToolkit.setOptions(options);
        document.getElementsByClassName("example");
      }

      function setFullscreen() {

        if (document.getElementById("setFullscreen").innerHTML ==" <span class=\"glyphicon glyphicon-resize-full\"></span>"){
        $.ajax({
          url: file,
          dataType: "text",
          success: function(data) {
            loadData(data);
          }
        });
        //expands size of div

        //new settings for zooming
        page = 3;
        zoom = 30;

        pageHeight = $(document).height() * 30 / zoom;
        pageWidth = $(document).width() * 80 / zoom;
        border = 50;
        options = {
          inputFormat: 'mei',
          pageHeight: pageHeight,
          pageWidth: pageWidth,

          border: border,
          scale: zoom,
          adjustPageHeight: true,
          ignoreLayout: 1
        };
        //set new options
        vrvToolkit.setOptions(options);
        document.getElementById("svg_output").style.height = "";
        document.getElementById("setFullscreen").innerHTML =" <span class=\"glyphicon glyphicon-resize-small\"></span>";
          document.getElementById("svg_row").style.height = "700px";
          setTimeout(function(){document.getElementById("svg_row").style.height = "700px"}, 10);
      } else{
        $.ajax({
          url: file,
          dataType: "text",
          success: function(data) {
            loadData(data);
          }
        });
        //expands size of div
        document.getElementById("svg_row").style.height = "";
        //new settings for zooming
        page = 1;
        zoom = 40;
        pageHeight = $(document).height() * 30 / zoom;
        pageWidth = $(document).width() * 80 / zoom;
        border = 50;
        options = {
          inputFormat: 'mei',
          pageHeight: pageHeight,
          pageWidth: pageWidth,

          border: border,
          scale: zoom,
          adjustPageHeight: 1,
          ignoreLayout: 1
        };
        //set new options
        vrvToolkit.setOptions(options);
        vrvToolkit.loadData(data);
          document.getElementById("svg_output").style.height = "300px";
        document.getElementById("setFullscreen").innerHTML =" <span class=\"glyphicon glyphicon-resize-full\"></span>";

      }



      }

      function flipPageForward() {
        page = page + 1;
        loadPage();
      }

      function flipPageBackward() {
        if (page != 1) {
          page = page - 1;
        }
        loadPage();
      }

      function loadData(data) {
        setOptions();
        vrvToolkit.loadData(data);

        page = 1;
        display_midi();
        loadPage();
      }

      function loadPage() {
        svg = vrvToolkit.renderPage(page, {});
        $("#svg_output").html(svg);

        ////////////////////////////////////////
        /* Bind a on click event to each note */
        ////////////////////////////////////////
        $(".note").click(function() {
          var id = $(this).attr("id");
          var time = vrvToolkit.getTimeForElement(id);
          // bug! time needs to be divided by 2
          $("#midi-player").midiPlayer.seek(time / 2);
        });
        var i;
        for (i=0; i<=vrvToolkit.getPageCount()-2; i++){
          var foot;
          var head;
          if (i==0){
          foot = "pgFoot" ;
          head="pgHead";
        } else {
          foot = "pgFoot"+i.toString();
          head = "pgHead"+i.toString();
        }
        if (  document.getElementsByClassName(head)[0]!=undefined){
        document.getElementsByClassName(head)[0].remove();
      }
      if (document.getElementsByClassName(foot)[0]!=undefined){
      document.getElementsByClassName(foot)[0].remove();
    }
  }
//document.getElementsByClassName("pgFoot")[0].remove();
      };

      function loadFile() {

        //file="/mei/Beethoven_Sonata_no.29_op.106.mei";
        file = parent.document.URL.substring(parent.document.URL.indexOf('?') + 1, parent.document.URL.length);;
        $.ajax({
          url: file,
          dataType: "text",
          success: function(data) {
            loadData(data);
          }
        });
      }

      function loadMei() {
        //file="/mei/Beethoven_Sonata_no.29_op.106.mei";
        if (document.getElementById("flipDisplay").value == "Switch score to mensural notation") {
          file = parent.document.URL.substring(parent.document.URL.indexOf('?') + 1, parent.document.URL.length);;
          $.ajax({
            url: file,
            dataType: "text",
            success: function(data) {
              loadData(data);
            }
          });
          document.getElementById("flipDisplay").value = "Switch score to modern notation";
        } else {
          file = parent.document.URL.substring(parent.document.URL.indexOf('?') + 1, parent.document.URL.length);;
          $meiarray = file.split("/")
          for (i = 0; i < $meiarray.length; i++) {
            if (i == ($meiarray.length - 1)) {
              $meiarray[i] = $meiarray[i].replace("_MENSURAL", "");
            } else if ($meiarray[i] == "mensural") {
              $meiarray[i] = "mei";
            }
            style = "height:10px !important;"
          }
          $mei = $meiarray.join("/");
          file = $mei;
          $.ajax({
            url: file,
            dataType: "text",
            success: function(data) {
              loadData(data);
            }
          });
          document.getElementById("flipDisplay").value = "Switch score to mensural notation";
        }
      }
      ////////////////////////////////////////////
      /* A function that start playing the file */
      ////////////////////////////////////////////
      function play_midi() {
        if (isPlaying == false) {
          var base64midi = vrvToolkit.renderToMIDI();
          var song = 'data:audio/midi;base64,' + base64midi;
          $("#player").show();
          $("#player").midiPlayer.play(song);
          isPlaying = true;
        }
      }

      function display_midi() {

          var base64midi = vrvToolkit.renderToMIDI();
          var song = 'data:audio/midi;base64,' + base64midi;
          display(song);

      }

      //////////////////////////////////////////////////////
      /* Two callback functions passed to the MIDI player */
      //////////////////////////////////////////////////////
      var midiUpdate = function(time) {
        // bug! time needs to be * 2 (- 800 for adjustment)
        var vrvTime = Math.max(0, time - 200);
        var elementsattime = vrvToolkit.getElementsAtTime(vrvTime);
        if (elementsattime.page > 0) {
          if (elementsattime.page != page) {
            page = elementsattime.page;
            loadPage();
          }
          if ((elementsattime.notes.length > 0) && (ids != elementsattime.notes)) {
            ids.forEach(function(noteid) {
              if ($.inArray(noteid, elementsattime.notes) == -1) {
                $("#" + noteid).attr("fill", "#000").attr("stroke", "#000");
              }
            });
            ids = elementsattime.notes;
            ids.forEach(function(noteid) {
              if ($.inArray(noteid, elementsattime.notes) != -1) {
                $("#" + noteid).attr("fill", "#c00").attr("stroke", "#c00");;
              }
            });
          }
        }
      }


      var midiStop = function() {
        ids.forEach(function(noteid) {
          $("#" + noteid).attr("fill", "#000").attr("stroke", "#000");
        });
        $("#player").hide();
        isPlaying = false;
      }

      $(document).ready(function() {

        $(window).keyup(function(event) {
          ////////////////////////////////
          /* Key events 'p' for playing */
          ////////////////////////////////
          if (event.keyCode == 80) {
            display_midi();
          }
        });

        $(window).resize(function() {
          applyZoom();
        });

        $("#player").midiPlayer({
          color: "#9D2322",
          onUnpdate: midiUpdate,
          onStop: midiStop,
          width: 250
        });
        document.getElementById("midiPlayer_div").style.color="black";

        document.getElementById("midiPlayer_div").style.backgroundColor="#faf1e5";
        loadFile();


      });
    </script>
    <script type="text/javascript">
    </script>

</html>
