
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" language="javascript" src="{{ site.baseurl }}javascript/midi-player/wildwebmidi.js"></script>
    <script type="text/javascript" language="javascript" src="{{ site.baseurl }}javascript/midi-player/midiplayer.js"></script>
    <script src="http://www.verovio.org/javascript/develop/verovio-toolkit.js" type="text/javascript" ></script>

    <!-- We also use jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript" ></script>
    <!-- Basic events from example 02 -->
    <script src="{{ site.baseurl }}javascript/basic-events.js" type="text/javascript" ></script>

    <title>Measuring Polyphony</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ site.baseurl }}vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <!-- Custom styles for this template -->
    <link href="{{ site.baseurl }}css/landing.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="background-color:	#9D2322;">
    <div class="col-lg-1" style="text-align: right;">
      <img src="thumbnail.gif" alt="Mountain View" style="padding-right:15px; filter: drop-shadow(5px 5px 4px black);">
    </div>
    <div class="col-lg-7">
      <div class="row">
            <a class="navbar-brand js-scroll-trigger" href="{{ site.baseurl }}">   Measuring Polyphony</a>
          </div>
            <div class="row" style= "">
              Digital encodings of late medieval music
            </div>
    </div>
    <div class="col-lg-3">
          <div class="collapse navbar-collapse" id="navbarResponsive" style="text-align=left;">
              <ul class="navbar-nav ml-auto">
                <li><a class="nav-link js-scroll-trigger" style= "font-size: 20px; padding-right:50px;" href="{{ site.baseurl }}transcriptions.html">Browse</a>
              </li>
              <li></li>
            <li>  <a class="nav-link js-scroll-trigger"style= "font-size: 20px;"  href="#about">About</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container-fluid">
          <div class="row">
                <div class="col" style = " padding-left: 250px; padding-right: 250px;padding-top:100px;">
<div class="jumbotron" style="background-color:#840705; opacity: 0.85; text-align:center;">
              <h1 class="brand-heading" style=""><b>Measuring Polyphony</b></h1>
<p class = "intro-line"></p>
              <p class="intro-text" style="font-size:30px;">Digital encodings of late medieval music</p>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>

          </div>
        </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">

        <div class="row">
              <div class="col-lg-8 mx-auto">
          <h1>A cool project! Click transcriptions to find out more.</h1>
          <table id="top" style="border: 1px white;" ></table>
        </div>
        </div>
        <div class="row">

          <div class="col-lg-8 mx-auto" style="height:500px;overflow-y:auto;">

          </div>

      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>

  </body>

</html>
